body {
  /* box-sizing: border-box; */
  /* height: 100%; */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.body {
  /* display: grid; */
  height: 100vh;
  width: 100vw;
  background-color: rgba(121, 134, 203, 1);
}

html,
body {
  height: 90%;
}

body {
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  /* justify-content: center; */

  /* This centers our sketch vertically. */
  /* align-items: center; */
}

.dripple-logo {
  position: fixed;
  top: 10%;
  left: 27%;
}

.side-nav-bar {
  /* box-sizing: border-box; */

  position: fixed;
  /* display: inline-flex; */
  /* background-color: rgba(148, 95, 162, 0.8); */
  /* max-width: 18%; */
  /* height: 100vh; */
  padding: 15px 0 0 5px;
  z-index: 2;
}

.side-bar-button {
  width: 70px;
  height: 70px;
  position: fixed;
  top: 43%;
  left: -45px;
  background: rgb(154, 72, 177);
  z-index: 3;
  border-radius: 90%;
}
/* 
.side-nav-bar ul {
  list-style-type: none;
  padding: 20px 30px;
} */

/* .content {
  display: inline-grid;
  position: relative;
} */

#register,
#login {
  width: 300px;
  border: 1px solid #d6d7da;
  padding: 0px 15px 15px 15px;
  border-radius: 5px;
  font-family: arial;
  line-height: 16px;
  color: #333333;
  font-size: 14px;
  background: #ffffff;
  margin: 100px auto;
}

form label,
form input {
  display: block;
  margin-bottom: 10px;
  width: 90%;
}

form input {
  padding: 10px;
  border: solid 1px #bdc7d8;
}

.button {
  background-color: #00bfff;
  border-color: #3ac162;
  font-weight: bold;
  padding: 12px 15px;
  color: #ffffff;
}

.errorMsg {
  color: #cc0000;
  margin-bottom: 12px;
}

.sucessMsg {
  color: #6b8e23;
  margin-bottom: 10px;
}

div.mapFrame {
  width: 100vw;
  height: 100%;
}

.map {
  width: 100%;
  height: 100vh;
}

.button_transparent {
  background-color: rgba(148, 95, 162, 0);
  border: none;
  overflow: hidden;
}

.dripple {
  background-color: black;
  width: 100px;
  height: 100px;
  border-radius: 100%;
}
/* padding-bottom: 100%; */
/* position: absolute; */

/* .dripple div {
  width: 100px;
  border-radius: 100%;
  line-height: 100%;
  vertical-align: middle;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  
} */
/* height: 100px; */

/* position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; */

.card {
  font-size: 18px;
  color: rgb(12, 63, 104);
  font-weight: bold;
  background-color: rgba(223, 222, 172, 0.2);
  line-height: 1.3em;
  text-align: center;
}

.messagesArea {
  position: fixed;
  right: 5%;
  width: 30%;
  min-height: 30vh;
  bottom: 0%;
  text-align: left;
}
div.messageDisplay {
  width: 100%;
  background-color: rgba(121, 134, 203, 0.6);
  border: #333333 solid;
  border-radius: 3%;
}

.newMessageForm {
  width: 100%;
  border-top: #333333 solid;
}
